
.idea/
**/target/
*.class
.DS_Store
*.bkp
/doc/drawings/.**.drawio.dtmp
*.swp

# Local .terraform directories
**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*

myKey.pem
/voting-backend-root-parent.iml
